@import "tailwindcss";

:root {
  --background: #0A0D02;
  --foreground: #F5F7F0;
  
  --primary: #D4FF00;
  --secondary: #121212;
  --tertiary: #2E5BFF;
  --neutral-custom: #767967;
  
  --color-primary: #D4FF00;
  --color-secondary: #121212;
  --color-tertiary: #2E5BFF;
  --color-neutral-custom: #767967;
  
  --bg-dark: #0A0D02;
  --bg-card: #13160B;
  --bg-navbar: #0E1106;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral-custom: var(--neutral-custom);
  --color-neutral-light: #A4A896;
  --color-neutral-dark: #3B3E31;
  --color-bg-dark: var(--bg-dark);
  --color-bg-card: var(--bg-card);
  --color-bg-navbar: var(--bg-navbar);
  
  --font-sans: var(--font-geist-sans), Inter, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--bg-dark);
  color: var(--foreground);
  font-family: var(--font-sans);
}

